* {
    margin: 0;
    padding: 0;
}

body{
    background-color:goldenrod;
}

/* HEADER */

.header{
    display: flex;
    justify-content: end;
}

.section__header{
    position: fixed;
}

.contador{
    margin: .5rem;
    text-align: center;
    background-color: blueviolet;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
}

.contador p{
    padding: .2rem;
}

.subcabanas{
    padding: 1rem;
}

.subAct{
    padding: 1rem;
}

.bordersNav{
    border-radius: 1rem;
}

/* DIBUJO DOMOS */

.dibujoCabana{
    display: flex;
    flex-direction: column;
}

.domitos{
    text-align: center;
    width: 20rem;
    height: 15rem;
}  

.nombreC{
    margin: .5rem;
}

.img{
    display: flex;
}

.img img{
    margin: .5rem;
    width: 80%;
    border-radius: 1rem;
}

.btC{
    background-color: dodgerblue;
    border-radius: .5rem;
    margin: .5rem;
    width: 5rem;
}

.btC2{
    background-color: green;
    border-radius: .5rem;
    margin: .5rem;
    width: 5rem;
    
}

/* Dibujo Domos*/

.muestroCabana{
    text-align: center;
}

.dibujoC{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.textoD{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.btnElijoCabana{
    padding: 1rem;
    background-color: dodgerblue;
    color: black;
    border-radius: .5rem;
}

.flechaAbajo{
    display: flex;
    justify-content: center;
}

.borroCabana{
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.borrarC{
    text-decoration: none;
    color: black;
    background-color: blueviolet;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
}

/* ACTIVIDADES Y FORMULARIO */

.actividadesYFormuario{
    display: flex;
}

/* ACTIVIDADES */

.dibujoBtAct{
    display: flex;
}

.btnAct{
    margin: .2rem;
    color: black;
    text-decoration: none;
    background-color: rgb(0, 230, 0);
    border: solid 2px black;
    border-radius: .5rem;
    padding: .2rem;
}

.btnReset{
    margin: .2rem;
    color: black;
    text-decoration: none;
    background-color: rgb(0, 230, 0);
    border: solid 2px black;
    border-radius: .5rem;
    padding: .2rem;
}

.actividades{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.act{
    width: 20rem;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: gray;
    border-radius: 1rem;
    border: solid 1px yellow;
}

/* FORMULARIOS */

.formulario{
    opacity: 0;
} 

.div__form{
    display: flex;
    justify-content: center;
}

.form2{
    width: 70%;
    text-align: center;
    border-radius: 1rem;
    background-color: brown;
}

.btnCR button{
    width: 10rem; 
    margin: 1rem;
    border-radius: 1rem;
    background-color: aqua;
}

/* SUBTOTAL */

.sectionSubtotal{
    position: fixed;
    background-color: antiquewhite;
    border: solid 1px red;
}

/* TOTAL */

.sectionTotal{
    background-color: antiquewhite;
}

.total{
    margin-left: 1rem;
}

.divT{
    display: flex;
    align-items: center;
}

.totalFinal{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btConfirmar{
    padding: .5rem;
    background-color: blueviolet;
    border-radius: .5rem;
    color: aliceblue;
}