*{
    margin: 0;
    padding: 0;
}

body{
    background-color: burlywood;
}

/* HEADER */

header{
    height: 1em;
}

/* MAIN */

main{
    margin: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
    grid-template:"reservas reservas reservas"
                  "titulo titulo titulo"
                  "domos domos domos"
                  "datos mas promos"
                  "total total total";
    gap: 1em;
}

.reservas{
    grid-area: reservas;
    transition: 10s;
    text-align: center;
}
.titulo{
    grid-area: titulo;
    text-align: center;
    background-color: brown;
    border-radius: 1em;
}
.prueba2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prueba2 div{
    margin: 5em;
} 

/* DOMOS */

.section__domos{
    grid-area: domos;
    background-color: brown;
    border-radius: 1em;
    text-align: center;
    color: whitesmoke;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
    width: 350px;
    margin: .5em;
    border-radius: .5em;
}

/* FORMULARIO */

.section__form{
    grid-area: datos;
    background-color: brown;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

.form{
    display: flex;
    flex-direction: column;
}

.datos{
    display: flex;
    flex-direction: column;
}

input{
    margin: .5em;
    border-radius: 5px;
}

.huespedesDias{
    display: flex;
    justify-content: space-around;
}

/* MAS */

.mas{
    grid-area: mas;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 2s;
}

.mas img{
    width: 5rem;
}

/* PROMOS */

.section__promos{
    width: 35em;
    grid-area: promos;
    background-color: brown;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

.verPromos{
    opacity: 0;
    transition: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Total */

.section__total{
    grid-area: total;
    background-color: brown;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

/* BOTONES */

button{
    border-radius: 1em;
    padding: .3em;
    background-color: black;
    color: aliceblue;
}
